@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
  height: 100%;
  width: 100%;
}

:root {
  --foreground-rgb: 200, 255, 255;
  --background-start-rgb: 100, 100, 100;
  --background-end-rgb: 255, 255, 255;
  --background-gradient: linear-gradient(
    180deg,
    rgba(110, 21, 5, 1) 0%,
    rgb(86, 49, 123) 100%
  );
}
body {
  height: 100%;
  width: 100%;
  /* background-repeat: repeat; */
  /* background-color: #cccccc; */
  color: rgb(var(--foreground-rgb));
  /* color: black; */
  /* background: var(--background-gradient); */
  background-color: black;
  /* background-color: rgba(254 226 226 0.2); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-repeat: repeat;
}
/* @media (prefers-color-scheme: dark) { */
/* :root {
  --foreground-rgb: 200, 255, 255;
  --background-start-rgb: 255, 100, 100;
  --background-end-rgb: 100, 100, 0;
} */
#homepageWelcome {
  z-index: 15;
  opacity: 0;
}

#backgroundDeep::after {
  backdrop-filter: blur(80px);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  animation: 10s linear 0s 1 unblurDeep forwards;
  pointer-events: none;
}

#backgroundTop {
  top: 0;
  position: absolute;
  opacity: 0;
  filter: saturate(80);
  background-image: url("../app/public/freezer.webp");
  width: 100%;
  height: 100%;
  /* max-width: 100%; */
  /* width: 100%;
  height: 100%; */
  /* width: auto; */
  /* width: 100%; */
  z-index: 10;
  /* background-size: auto; */
  /* animation: 10s linear 0s 1 unblurFront; */
}

#backgroundDeep {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../app/public/freezer2.webp");
  /* border-radius: 20%; */
  /* background-position: 25% 50%; */
  background-position: 25% 0%;
  background-size: cover;
  opacity: 0;
  scale: 1;
  z-index: 5;
  /* background-position: 25% 50%; */
  /* animation: 20s ease-in-out 0s 1 moveDeep; */
  /* filter: blur(30px);
  -webkit-filter: blur(30px); */
  /* box-shadow: 0 0 18px 18px white inset; */
}

.welcomeAnimate {
  animation: 5s linear 18s 1 fadeinContent forwards;
  /* animation: 5s linear 1s 1 fadeinContent forwards; */
}

.fadeIn3s {
  animation: 3s ease-in 0s 1 fadeinContent forwards;
}

.fadeOut2s {
  animation: 2s linear 0s 1 fadeOut1s forwards;
}

.backgroundDeepAnimate {
  animation: 20s ease-in-out 0s 1 moveDeep forwards;
}

.backgroundTopAnimate {
  animation: 10s ease-in 8s 1 unblurAndMoveFront;
}

.audioReady {
  animation: 3s linear 0s 1 fadeInAndUp forwards;
}

@keyframes fadeinContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes unblurDeep {
  0% {
    background-position: 25% 0%;
    backdrop-filter: blur(80px); /* apply the blur */
  }
  100% {
    background-position: 25% 70%;
    backdrop-filter: blur(0px); /* apply the blur */
  }
}
@keyframes moveDeep {
  0% {
    opacity: 1;
    background-position: 25% 0%;
  }
  100% {
    opacity: 1;
    background-position: 25% 60%;
  }
}

@keyframes unblurAndMoveFront {
  0% {
    /* transform: translateX(-100%); */
    filter: blur(0);
    -webkit-filter: blur(0);
    scale: 0;
    filter: saturate(0.5);
    opacity: 0;
  }
  /* 30% {
    filter: saturate(1);
  } */
  50% {
    opacity: 1;
  }
  60% {
    transform: translateX(-10vw) rotateY(80deg) rotate(0deg);
    scale: 0.5;

    filter: blur(12);
    -webkit-filter: blur(12);
    filter: saturate(5);
    opacity: 1;
  }
  100% {
    transform: translateX(-30vw) rotateY(180deg) rotate(180deg);
    scale: 1.5;
    filter: blur(20);
    -webkit-filter: blur(20);
    filter: saturate(80);
    opacity: 0;
  }
}

@keyframes fadeInAndUp {
  0% {
    scale: 0.8;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fadeOut1s {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* #header {
  z-index: 0;
  opacity: 0;
} */

/* #background > * {
  filter: blur(0px);
  -webkit-filter: blur(0px);
} */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@responsive {
  .lower {
    @apply text-sm sm:text-lg opacity-70 italic;
  }

  .firstColumn {
    @apply w-[17%];
  }
  .secondColumn {
    @apply w-[42%];
  }
  .thirdColumn {
    @apply w-[17%];
  }

  .fourthColumn {
    @apply w-[17%];
  }

  .fifthColumn {
    @apply w-[7%];
  }
  .mobileHiddenColumn {
    @apply hidden sm:flex sm:flex-col sm:h-full sm:items-center sm:justify-center;
  }
  .mobileShownColumn {
    @apply flex flex-col h-full items-center justify-center;
  }
}

.textInputLabel {
  @apply w-[30%] xl:text-lg text-right pr-2 xl:pr-4;
}

.textInputField {
  @apply text-lg xl:text-xl text-left flex-1 py-1 bg-inherit rounded-md border-2 border-orange-800 border-opacity-50 px-2;
}
.navitem {
  @apply w-auto md:text-lg text-base text-center items-center p-1 font-normal hover:scale-110 hover:duration-150 hover:ease-in-out;
}

#createform input,
select {
  padding-left: 0.5rem;
}

input,
select {
  @apply bg-slate-500 bg-opacity-40  rounded-lg;
}

label {
  @apply block mb-1 sm:text-xl;
}

.welcomeMessage {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  @apply text-4xl flex text-center justify-center items-center bg-opacity-90 sm:text-5xl rounded-lg sm:rounded-3xl;
}

.labelStyle {
  @apply w-[25%] text-sm sm:text-base text-right pr-4 sm:pr-10;
}

.landing {
  /* background: rgb(110, 21, 5); */
  background: linear-gradient(
    180deg,
    rgba(110, 21, 5, 1) 0%,
    rgb(86, 49, 123) 100%
  );
}

#second_landing_image {
  opacity: 0;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  /* animation-delay: 4s; */
  animation-fill-mode: forwards;
  /* animation-timeline: scroll(); */
  animation-timeline: view(90% 0%);
}

#top_landing_image {
  opacity: 0;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-duration: 1500ms;
  animation-delay: 7000ms;
  animation-fill-mode: forwards;
  /* animation-timeline: scroll(); */
}

@keyframes fade-in {
  from {
    scale: 0.9;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.landing li:first-child {
  opacity: 0;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 7800ms;
  animation-fill-mode: forwards;
  /* background-color: aquamarine; */
}

.landing li:nth-child(2) {
  opacity: 0;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 8200ms;
  animation-fill-mode: forwards;
}

@keyframes come-from-left {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes come-from-right {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0px);
  }
}

.landing button:first-child {
  animation-name: come-from-left;
  animation-fill-mode: forwards;
  /* animation-duration: 1s; */
  animation-timing-function: ease-in;
  /* animation-timeline: scroll(30% 0%); */
  animation-timeline: view(90% 0%);
  /* opacity: 0;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-timeline: view(70% 0px); */
}

.landing button:nth-child(2) {
  animation-name: come-from-right;
  animation-fill-mode: forwards;
  /* animation-duration: 1s; */
  animation-timing-function: ease-in;
  /* animation-timeline: scroll(30% 0%); */
  animation-timeline: view(70% 0%);
}
