@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.lower {
  @apply text-lg opacity-70;
}

.firstColumn {
  @apply w-[17%];
}
.secondColumn {
  @apply w-[42%];
}
.thirdColumn {
  @apply w-[17%];
}

.fourthColumn {
  @apply w-[17%];
}

.fifthColumn {
  @apply w-[7%];
}

.navitem {
  @apply w-auto text-lg text-center p-1 font-normal hover:scale-110 hover:duration-150 hover:ease-in-out h-full;
}

.path1 {
  fill: red;
}
.path2 {
  stroke: red;
  stroke-width: 1.25px;
  fill: none;
  marker-end: url(#arrow);
}
